<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="OnlinerTest">
        <parameter name="Directory" value="Каталог"/>
        <parameter name="Brand" value="Samsung"/>
        <parameter name="MaxPrice" value="1500"/>
        <parameter name="ScreenResolution" value="1920x1080 (Full HD)"/>
        <parameter name="ScreenDiagonalMin" value='40"'/>
        <parameter name="ScreenDiagonalMax" value='50"'/>
        <classes>
            <class name="org.pavelaponik.OnlinerTest">
                <methods>
                    <include name="TestOnliner"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>